# Generated config template for chezmoi
# Renders to ~/.config/chezmoi/chezmoi.yaml
sourceDir: "{{ .chezmoi.sourceDir }}"
template:
  options:
    - missingkey=zero

data:
  isDarwin: {{ eq .chezmoi.os "darwin" }}
  isLinux:  {{ eq .chezmoi.os "linux" }}
